@use "./../../../styles.scss" as styles;

.logo-div {
  cursor: default;
  @include styles.dFlex($d: flex,
    $fd: row,
    $jc: flex-start,
    $ai: center,
    $g: 0px);

  .content-container {
    @include styles.dFlex($d: flex,
      $fd: row,
      $jc: flex-start,
      $ai: center,
      $g: 24px);
  }

  img {
    height: 70px;
    width: 70px;
  }
}

.logo-div-responsive {
  cursor: default;
  @include styles.dFlex($d: flex,
    $fd: row,
    $jc: center,
    $ai: center,
    $g: 0px);
  width: calc(100vw - 100px);

  .content-container {
    @include styles.dFlex($d: flex,
      $fd: row,
      $jc: flex-start,
      $ai: center,
      $g: 24px);
  }

  img {
    height: 70px;
    width: 70px;
  }
}

.content-responsive {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  top: 3vh;
  left: 50%;
  transform: translate(-50%, 50%);
}

.animation-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  animation: removeAnimationConatiner 0.75s ease-in-out 3.5s forwards;

  .background-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #313ae5 25%, #555cec 60%, #797ef3 100%);
    animation: removeBackground 0.75s ease-in-out 2.5s forwards;
  }

  .content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 24px);
    animation: moveToHead 0.75s ease-in-out 2.5s forwards;

    .animation-logo-container {
      width: 180px;
      height: 180px;
      animation: changeSize 0.75s ease-in-out 2.5s forwards;

      img {
        width: 180px;
        height: 180px;
        transform: translateX(205px);
        background-color: rgba(0, 0, 0, 0);
        animation: logoMove 0.5s ease-in-out 0.5s forwards,
          changeSize 0.75s ease-in-out 2.5s forwards;
      }
    }

    .animation-text-container {
      overflow: hidden;

      p {
        font-size: 80px;
        color: white;
        transform: translateX(-100%);
        animation: textMove 0.5s ease-in-out 1.05s forwards,
          textStyle 0.75s ease-in-out 2.5s forwards;
      }
    }
  }
}

@keyframes logoMove {
  from {
    transform: translateX(205px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes textMove {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes removeBackground {
  0% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }

  99% {
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  100% {
    width: 0px;
    height: 0px;
  }
}

@keyframes removeAnimationConatiner {
  0% {
    z-index: 99999;
    width: 100%;
    height: 100%;
  }

  99% {
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  100% {
    width: 0px;
    height: 0px;
  }
}

@keyframes textStyle {
  from {
    color: white;
    font-size: 80px;
  }

  to {
    color: black;
    font-size: 2rem;
  }
}

@keyframes moveToHead {
  from {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  to {
    top: 0%;
    left: 0%;
    transform: translate(50px, 50px);
  }
}

@keyframes changeSize {
  from {
    width: 180px;
    height: 180px;
  }

  to {
    height: 50px;
    width: 50px;
  }
}


@media (max-width: 1024px) {
  $left: 50%;
  $fontSize: 10vw;
  $logoSize: 20vw;
  $logoMove: 28vw;

  .logo-div {
    img {
      height: 50px;
      width: 50px;
    }

    p {
      font-size: 2rem;
    }
  }

  .animation-container {
    animation: removeAnimationConatinerRe 0.75s ease-in-out 3.5s forwards;

    .content-container {
      animation: moveToHeadRe 0.75s ease-in-out 2.5s forwards;

      .animation-logo-container {
        width: $logoSize;
        height: $logoSize;
        animation: changeSizeRe 0.75s ease-in-out 2.5s forwards;

        img {
          width: $logoSize;
          height: $logoSize;
          transform: translateX($logoMove);
          animation: logoMoveRe 0.5s ease-in-out 0.5s forwards,
            changeSizeRe 0.75s ease-in-out 2.5s forwards;
        }
      }

      .animation-text-container {
        p {
          font-size: $fontSize;
          color: white;
          transform: translateX(-100%);
          animation: textMove 0.5s ease-in-out 1.05s forwards,
            textStyleRe 0.75s ease-in-out 2.5s forwards;
        }
      }
    }

    @keyframes removeAnimationConatinerRe {
      0% {
        z-index: 99999;
        width: 100%;
        height: 100%;
      }

      100% {
        z-index: 0;
        height: 0px;
      }
    }

    @keyframes logoMoveRe {
      from {
        transform: translateX($logoMove);
      }

      to {
        transform: translateX(0px);
      }
    }

    @keyframes textStyleRe {
      from {
        color: white;
        font-size: $fontSize;
      }

      to {
        color: black;
        font-size: 2rem;
      }
    }

    @keyframes moveToHeadRe {
      from {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      to {
        top: 3vh;
        left: $left;
        transform: translate(-50%, 50%);
      }
    }

    @keyframes changeSizeRe {
      from {
        width: $logoSize;
        height: $logoSize;
      }

      to {
        height: 50px;
        width: 50px;
      }
    }
  }
}


@media (max-width: 375px) {
  .logo-div {
    .content-container {
      gap: 12px;

      img {
        height: 40px;
        width: 40px;
      }

      p {
        font-size: 1.75rem;
      }
    }
  }
}