@use "./../../../styles.scss" as styles;
@use "./../../../assets/styles/fonts.scss" as fonts;

.logo-div {
  cursor: default;
  @include styles.dFlex(
    $d: flex,
    $fd: row,
    $jc: flex-start,
    $ai: center,
    $g: 0px
  );

  .ainimation-container {
    @include styles.dFlex(
      $d: flex,
      $fd: row,
      $jc: flex-start,
      $ai: center,
      $g: 24px
    );
  }

  img {
    height: 70px;
    width: 70px;
  }
}

.animation-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  animation: removeAnimationConatiner 0.75s ease-in-out 3.5s forwards;

  .background-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #313ae5 25%, #555cec 60%, #797ef3 100%);
    animation: removeBackground 0.75s ease-in-out 2.5s forwards;
  }

  .ainimation-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center);
    animation: moveToHead 0.75s ease-in-out 2.5s forwards;

    .animation-logo-container {
      width: 180px;
      height: 180px;
      padding-right: 24px;
      @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center);
      animation: changeSize 0.75s ease-in-out 2.5s forwards;

      img {
        width: 180px;
        height: 180px;
        transform: translateX(205px);
        background-color: rgba(0, 0, 0, 0);
        animation: logoMove 0.5s ease-in-out 0.5s forwards,
          changeSize 0.75s ease-in-out 2.5s forwards;
      }
    }

    .animation-text-container {
      overflow: hidden;

      p {
        font-size: 80px;
        color: white;
        transform: translateX(-100%);
        animation: textMove 0.5s ease-in-out 1.05s forwards,
          textStyle 0.75s ease-in-out 2.5s forwards;
      }
    }
  }
}

@keyframes logoMove {
  from {
    transform: translateX(205px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes textMove {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes removeBackground {
  0% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }

  99% {
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  100% {
    width: 0px;
    height: 0px;
  }
}

@keyframes removeAnimationConatiner {
  0% {
    z-index: 99999;
    width: 100%;
    height: 100%;
  }

  99% {
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  100% {
    width: 0px;
    height: 0px;
  }
}

@keyframes textStyle {
  from {
    color: white;
    font-size: 80px;
  }

  to {
    color: black;
    font-size: 38px;
  }
}

@keyframes moveToHead {
  from {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  to {
    top: 0%;
    left: 0%;
    transform: translate(75px, 75px);
  }
}

@keyframes changeSize {
  from {
    width: 180px;
    height: 180px;
  }

  to {
    height: 70px;
    width: 70px;
  }
}

@media (max-width: 1024px) {
  .logo-div img {
    height: 60px;
    width: 60px;
  }
}

@media (max-width: 375px) {
  .logo-div img {
    height: 50px;
    width: 50px;
  }
}
