<section class="custom-scrollbar">
  <div class="header-left">
    <!-- Back Button wenn Chat aktiv ist -->
    <ng-container *ngIf="mainContent.navigationState.showChat">
      <button class="mobile-back-btn" (click)="mainContent.handleBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </ng-container>

    <!-- Standard DABubble Logo when no chat is active -->
    <ng-container *ngIf="!mainContent.navigationState.showChat">
      <app-logo-component></app-logo-component>
    </ng-container>

    <!-- Devspace Logo when chat is active -->
    <ng-container *ngIf="mainContent.navigationState.showChat">
      <div class="logo-container">
        <img src="img/devspace-logo.svg" alt="Devspace" class="logo">
        <span class="logo-text">Devspace</span>
      </div>
    </ng-container>
  </div>

  <div class="desktop-content">
    <div class="searchbar-container" [ngClass]="{ 'border-stretch': borderTrigger && showResult }">
      <input type="text" #searchInput placeholder="Devspace durchsuchen" [(ngModel)]="searchQuery"
        (focus)="this.showHiddeService.setShowResult(true)">
      <div><mat-icon>search</mat-icon></div>
      <app-search-bar [searchQuery]="searchQuery"></app-search-bar>
    </div>

    <div class="profile-container" (click)="openDialog()">
      <div class="profile-div">
        <p class="profile-name">{{this.userInfo.displayName}}</p>
        <div class="img-placeholder-div">
          <img [src]="this.userInfo.photoURL || 'img-placeholder/default-avatar.svg'" />
          <div class="status-circle-outline">
            <div class="status-circle-inline"></div>
          </div>
        </div>
      </div>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
  </div>
</section>