<section class="custom-scrollbar">
  <app-logo-component></app-logo-component>
  <div class="searchbar-container" [ngClass]="{ 'border-stretch': borderTrigger }">
    <!-- <div> -->
      <!-- <mat-card-content> -->
        <input type="text" placeholder="Devspace durchsuchen" [(ngModel)]="searchQuery" (focus)="showResult = true">
      <!-- </mat-card-content> -->
    <!-- </div> -->
    <div><mat-icon>search</mat-icon></div>
    <app-search-bar [searchQuery]="searchQuery" (borderTrigger)="onBorderTriggerChange($event)" [showResult]="showResult">></app-search-bar>
  </div>

  <div class="profile-container" (click)="openDialog()">
    <ng-container *ngIf="currentUser$ | async as user">
      <div class="profile-div">
        <p class="profile-name">{{user.displayName}}</p>
        <div class="img-placeholder-div">
          <img [src]="user.photoURL || 'img-placeholder/default-avatar.svg'"/>
          <div class="status-circle-outline">
            <div class="status-circle-inline"></div>
          </div>
        </div>
      </div>
    </ng-container>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </div>
</section>