@use './../../styles.scss' as styles;
@use './../../assets/styles/fonts.scss' as fonts;
@use './../../assets/styles/theme-colors.scss' as colors;

section {
    @include styles.padding($pl: 2rem, $pr: 2rem, $pt: 1rem, $pb: 0);
    @include styles.dFlex($d: flex, $fd: row, $jc: space-between, $ai: center, $g: 0);
    height:100px;
    box-sizing: border-box;
}

mat-card {
    @include styles.padding($pl: 12px, $pr: 24px, $pt: 0, $pb: 0);
    @include styles.dFlex($d: flex, $fd: row, $jc: space-between, $ai: center, $g: 0);
    background-color: white;
    width: 50%;
    box-shadow: unset;
    border-radius: 50px;
}

mat-card-content {
    input {
        color: rgba(104, 104, 104);
        outline: none;
        border: none;
    }
}

mat-icon {
    height:20px;
    width:20px;
}

.profile-container {
    @include styles.dFlex($d: flex, $fd: row, $jc: space-between, $ai: center, $g: 0);
    cursor:pointer;
    &:hover {
        color:#797EF3;
    }
}

.profile-div {
    @include styles.dFlex($d: flex, $fd: row, $jc: space-between, $ai: center, $g: 16px);
}

.img-placeholder-div {
    @include styles.dFlex($d: flex, $fd: row, $jc: flex-start, $ai: center, $g: 0);

    img {
        height: 50px;
        width: 50px;
    }
}

.profile-name {
    font-size: 18px;
    font-weight: 600;
}

.status-circle-outline {
    position:relative;
    top:19px;
    right:12px;
    height: 15px;
    width: 15px;
    background-color: #ECEEFE;
    border-radius: 100%;
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 0);
}

.status-circle-inline {
    height: 10px;
    width: 10px;
    background-color: #92C83E;
    border-radius: 100%;
}