@use "./../../../styles.scss" as styles;

.sidebar {
  @include styles.margin($ml: 12px, $mr: 12px, $mt: 12px, $mb: 0);
  @include styles.padding($pl: 4px, $pr: 4px, $pt: 6px, $pb: 0);
  @include styles.dFlex(
    $d: flex,
    $fd: column,
    $jc: flex-start,
    $ai: flex-start,
    $g: 0
  );
  height: 500px;
}

.header {
  @include styles.dFlex(
    $d: flex,
    $fd: row,
    $jc: space-between,
    $ai: center,
    $g: 0
  );
  width: 100%;
  @include styles.padding($pl: 0.5rem, $pr: 24px, $pt: 0.5rem, $pb: 0.5rem);

  .edit-square {
    width: 40px;
    height: 40px;
    cursor: pointer;
    &:hover {
      color: #535af1;
      background-color: #eceefe;
      border-radius: 50%;
    }
  }

  .logo-container {
    @include styles.dFlex($d: flex, $ai: center, $g: 1rem);

    .logo {
      width: 60px;
      height: 60px;
      border-radius: 0.5rem;
    }

    .logo-text {
      font-size: 1rem;
      font-weight: 600;
    }
  }

  .open-icon {
    color: #6b7280;
    cursor: pointer;
  }
}

.section {
  @include styles.dFlex($d: flex, $fd: column, $g: 1rem, $ai: initial);
  width: 100%;

  .section-header {
    @include styles.dFlex($d: flex, $ai: center);
    margin-top: 1rem;
    font-weight: 500;

    .header-content {
      @include styles.dFlex($d: flex, $jc: flex-start, $ai: center, $g: 0.5rem);
      flex: 1;
      cursor: pointer;
      padding: 0.25rem;
      &:hover {
        color: #535af1;
      }
    }

    .channel-icon {
      font-size: 1rem;
    }

    .add-icon {
      margin-left: auto;
      cursor: pointer;
      &:hover {
        color: #535af1;
        background-color: #eceefe;
        border-radius: 50%;
      }
    }

    span {
      font-weight: bold;
    }
  }

  .channel-item {
    @include styles.dFlex($d: flex, $jc: flex-start, $g: 0.5rem);
    margin: 0 2rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 500;
    &:hover {
      color: #535af1;
      background-color: #eceefe;
      border-radius: 2rem;
    }

    .channel-hash {
      margin-right: 0.25rem;
    }
  }

  .add-channel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0 2rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
    cursor: pointer;
    &:hover {
      color: #535af1;
    }
  }
}

.user-list {
  display: flex;
  flex-direction: column;

  .user-item {
    @include styles.dFlex($d: flex, $jc: initial, $ai: center, $g: 1rem);
    padding: 0.5rem;
    margin: 0 2rem;
    cursor: pointer;
    position: relative;

    &:hover {
      background-color: #eceefe;
      border-radius: 2rem;
    }

    .user-avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    span {
      color: #374151;
    }

    .status-dot {
      position: absolute;
      bottom: 0.5rem;
      left: 3rem;
      width: 0.5rem;
      height: 0.5rem;
      background-color: #22c55e;
      border-radius: 50%;
      border: 2px solid #f8f9fe;
    }
  }
}
