<div class="sidebar">
  <!-- Header -->
  <div class="header">
    <div class="logo-container">
      <img src="img/devspace-logo.svg" alt="Devspace" class="logo">
      <span class="logo-text">Devspace</span>
    </div>
    <img src="img/edit-square.svg" alt="">
  </div>

  <!-- Channels -->
  <div class="section">
    <div class="section-header">
      <mat-icon class="chevron">arrow_drop_down</mat-icon>
      <div class="header-content">
        <img src="img/workspaces-icon.svg" alt="workspaces-icon">
        <span>Channels</span>
      </div>
      <mat-icon class="add-icon">add</mat-icon>
    </div>

    <div class="channel-item">
      <mat-icon>tag</mat-icon>
      <span class="channel-name">Entwicklerteam</span>
    </div>

    <div class="add-channel">
      <mat-icon>add_circle_outline</mat-icon>
      <span>Channel hinzufügen</span>
    </div>
  </div>

  <!-- Direct Messages -->
  <div class="section">
    <div class="section-header">
      <mat-icon>arrow_drop_down</mat-icon>
      <div class="header-content">
        <img src="img/account-circle.svg" alt="">
        <span>Direktnachrichten</span>
      </div>
    </div>

    <div class="user-list">
      <div class="user-item">
        <img src="img-placeholder/frederik.svg" class="user-avatar">
        <span>Frederik Beck (Du)</span>
        <div class="status-dot"></div>
      </div>
      <div class="user-item">
        <img src="img-placeholder/sofia.svg" class="user-avatar">
        <span>Sofia Müller</span>
        <div class="status-dot"></div>
      </div>
      <div class="user-item">
        <img src="img-placeholder/noah.svg" class="user-avatar">
        <span>Noah Braun</span>
        <div class="status-dot"></div>
      </div>
      <div class="user-item">
        <img src="img-placeholder/elise.svg" class="user-avatar">
        <span>Elise Roth</span>
        <div class="status-dot"></div>
      </div>
      <div class="user-item">
        <img src="img-placeholder/elias.svg" class="user-avatar">
        <span>Elias Neumann</span>
        <div class="status-dot"></div>
      </div>
      <div class="user-item">
        <img src="img-placeholder/steffen.svg" class="user-avatar">
        <span>Steffen Hoffmann</span>
        <div class="status-dot"></div>
      </div>
    </div>
  </div>
</div>