<div class="message-input-container">
  <label for="new-message"></label>
  <textarea #messageInput [(ngModel)]="messageText" [placeholder]="placeholder" (keydown)="onKeyDown($event)">
  </textarea>

  <div class="bottom-wrapper-icons">
    <div class="interactive-icons">
      <div class="circle-outline">
        <mat-icon>sentiment_satisfied_alt</mat-icon>
      </div>
      <div class="circle-outline">
        <mat-icon>alternate_email</mat-icon>
      </div>
    </div>

    <div class="send-icon-div" (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </div>
  </div>
</div>