@use './../../../styles.scss' as styles;
@use './../../../assets/styles/fonts.scss' as fonts;
@use './../../../assets/styles/theme-colors.scss' as colors;

.emoji-card {
    border-bottom-right-radius: 0px;
    padding: 0 8px;
    position:absolute;
    padding:0 18px;
}

.emoji-content {
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 0);
    height: 15px;
}

.check_circle {
    color: #4BD37B;
}