
  <mat-card class="emoji-card bg-frame-v1">
    <mat-card-content class="emoji-content">
      <button mat-icon-button>
        <mat-icon class="check_circle">check_circle</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>🙌</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>face_retouching_natural</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>insert_comment</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>

