<div class="dialog-backdrop" (click)="onBackdropClick($event)">
  <div class="dialog-container" [class.expanded]="selectedOption === 'specific'">
    <div class="dialog-header">
      <h2>Leute hinzufügen</h2>
      <mat-icon class="close" (click)="onClose()">close</mat-icon>
    </div>

    <div class="options-container">
      <div class="option">
        <input type="radio" id="allMembers" name="addOption" [(ngModel)]="selectedOption" value="all">
        <label for="allMembers">
          <div>Alle Mitglieder von <span class="office-team">OfficeTeam</span> hinzufügen</div>
        </label>
      </div>

      <div class="option">
        <input type="radio" id="specificMembers" name="addOption" [(ngModel)]="selectedOption" value="specific">
        <label for="specificMembers">
          <div>Bestimmte Leute hinzufügen</div>
        </label>
      </div>

      <div class="input-wrapper" [class.show]="selectedOption === 'specific'">
        <div class="search-container">

          <div class="tag-input">
            <div class="selected-user-tag" *ngFor="let user of selectedUsers">
              <img [src]="getPhotoURL(user)" [alt]="user.username">
              <span>{{ user.username }}</span>
              <mat-icon class="remove-user" *ngIf="user.uid !== data.creatorId"
                (click)="removeUser(user, $event)">close</mat-icon>
            </div>
            <input type="text" [(ngModel)]="searchInput" (input)="onSearchInput($event)" placeholder="Namen eingeben"
              #searchInputEl>
          </div>


          <div class="search-dropdown" *ngIf="showDropdown && (filteredUsers$ | async)?.length">
            <div class="user-item" *ngFor="let user of filteredUsers$ | async" (click)="selectUser(user)">
              <img [src]="getPhotoURL(user)" class="user-avatar" [alt]="user.username">
              <span>{{ user.username }}</span>
              <div class="status-dot" [class.online]="user.online"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="create-btn" (click)="onSubmit()">
      {{ selectedOption === 'all' ? 'Alle hinzufügen' : 'Ausgewählte hinzufügen' }}
    </button>
  </div>
</div>