<div class="login-cointainer">
    <h1>Passwort zurücksetzen</h1>
    <span class="login-description">Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
        <div class="auth-input-container">
            <mat-icon matSuffix>mail_outline</mat-icon>
            <input type="email" placeholder="beispielname@email.com" formControlName="email">

            @if (form.get('email')?.touched && form.get('email')?.errors) {
            <div class="error-message">Diese E-Mail-Adresse ist leider ungültig.</div>
            }
        </div>

        <p class="reset-description">Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</p>

        <button type="submit" class="btn-full button-base position-bottom-right"
        [disabled]="!form.get('email')?.valid"
        >E-Mail senden</button>
    </form>
    <mat-icon class="arrow-back close-back" [routerLink]="['']">arrow_back</mat-icon>
</div>