@use "./../../../styles.scss";
@use "./../../../assets/styles/fonts.scss" as f;
@use "./../../../assets/styles/colors.scss" as c;


h1 {
    padding: 0 50px;
}

.reset-description {
    max-width: 354px;
    font-size: 1rem;
    color: c.$conditions-text;
    text-align: center;
    margin-bottom: 70px;
}