<div class="login-cointainer">
    <h1>Wähle deinen Avatar</h1>
    <div class="avatar-picker-container">
        <div class="person-circle">
            <img [class.avatar-img]="selectedUserAvatar !== 'img/person.png'" [class.person-circle-img]="selectedUserAvatar == 'img/person.png'" src="{{selectedUserAvatar}}">
        </div>
        <div class="user-information">
            <h2>{{this.formData.username}}</h2>
            <p>Aus der Liste wählen</p>
        </div>
        <div class="login-form">
            <div class="avatar-img-container">
                @for(avatar of avatarPath; track avatar) {
                <img (click)="selectedAvatar(avatar)" src="{{avatar}}">
                }
            </div>
            <button (click)="createAccount()" class="btn-full button-base position-bottom-right"
                [disabled]="disabled">Weiter</button>
        </div>
    </div>

    <mat-icon class="arrow-back close-back" (click)="backToForm()">arrow_back</mat-icon>
</div>