<div class="login-cointainer">
    <h1>Wähle deinen Avatar</h1>
    <div class="avatar-picker-container">
        <div class="person-circle">
            <img [class.avatarImg]="selectedUserAvatar !== 'img/person.png'" src="{{selectedUserAvatar}}">
        </div>
        <div class="user-information">
            <h2>Frederik Beck</h2>
            <p>Aus der Liste wählen</p>
        </div>
        <div class="avatar-img-container">
            @for(avatar of avatarPath; track avatar) {
                <img (click)="selectedAvatar(avatar)" src="{{avatar}}">
            }
        </div>
    </div>
    <button (click)="onSubmit()" class="btn-full button-base position-bottom-right" [disabled]="selectedUserAvatar == 'img/person.png'">Weiter</button>
    <mat-icon class="arrow-back" [routerLink]="['/reg']">arrow_back</mat-icon>
</div>