<div class="login-cointainer">
    <h1>Impressum</h1>
    <div class="imprint-info-container">
        <div>
            <p>Steven Rudko</p>
            <p>Samuel Hilgert</p>
            <p>Gerald Pesendorer</p>
        </div>
        <div>
            Musterstraße 1234<br>
            12345 Musterstadt<br>
            Germany
        </div>
    </div>
    <h1>Kontakt</h1>
    <div class="imprint-info-container">
        <a href="mailto:max-mustermann@mustermail.com">max-mustermann&#64;mustermail.com</a>
    </div>
    <mat-icon class="arrow-back" [routerLink]="['']">arrow_back</mat-icon>
</div>