@use "./../../../styles.scss" as styles;
@use "./../../../assets/styles/fonts.scss" as fonts;

mat-card-content {
  @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 0);
  height: 24px;
}

mat-card {
  border-bottom-right-radius: 0px !important;
  width: fit-content !important;
  margin-left: auto;
}

.check_circle {
  color: #4bd37b;
}

app-emoji-picker {
  position: relative;
  z-index: 4;
  left: 150px;
  top: -30px;
  width: 240px;
}

app-messages-edit-options {
  position: relative;
  z-index: 4;
  right: -230px;
  top: -30px;
  width: 240px;
}

mat-card-content {
  .emoji-recent mat-icon {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
  }
}
