<div class="dialog-container">
  <div class="dialog-header">
    <h2 class="title"># {{ channelName }}</h2>
    <button mat-icon-button class="close-button" (click)="dialogRef.close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="content-wrapper">
    <div class="section-box name-part" [class.editing]="isEditingName">
      <div class="section-header">
        <span>Channel-Name</span>
        <button mat-button class="edit-button" *ngIf="!isEditingName" (click)="toggleEditName()">
          <span class="button-text">Bearbeiten</span>
          <mat-icon class="button-icon">edit</mat-icon>
        </button>
        <button mat-button class="save-button" *ngIf="isEditingName" [disabled]="!canSave" (click)="saveChanges()">
          <span class="button-text">Speichern</span>
          <mat-icon class="button-icon">check</mat-icon>
        </button>
      </div>
      <div class="section-content">
        <ng-container *ngIf="!isEditingName">
          <div class="channel-name">
            <span class="hash">#</span>
            {{ channelName }}
          </div>
        </ng-container>
        <ng-container *ngIf="isEditingName">
          <div class="input-container">
            <span class="hash">#</span>
            <input [(ngModel)]="channelName" (ngModelChange)="validateChannelName($event)" placeholder="Channel-Name"
              [class.invalid]="nameExists">
          </div>
          <div class="validation-message" *ngIf="nameExists">
            Ein Channel mit diesem Namen existiert bereits. Bitte wähle einen anderen Namen.
          </div>
        </ng-container>
      </div>
    </div>

    <div class="section-box">
      <div class="description-part" [class.editing]="isEditingDescription">
        <div class="section-header">
          <span>Beschreibung</span>
          <button mat-button class="edit-button" *ngIf="!isEditingDescription" (click)="toggleEditDescription()">
            <span class="button-text">Bearbeiten</span>
            <mat-icon class="button-icon">edit</mat-icon>
          </button>
          <button mat-button class="save-button" *ngIf="isEditingDescription" (click)="saveChanges()">
            <span class="button-text">Speichern</span>
            <mat-icon class="button-icon">check</mat-icon>
          </button>
        </div>
        <div class="section-content">
          <ng-container *ngIf="!isEditingDescription">
            <p>{{ channelDescription || 'Keine Beschreibung vorhanden' }}</p>
          </ng-container>
          <ng-container *ngIf="isEditingDescription">
            <textarea #autosize [(ngModel)]="channelDescription" placeholder="Beschreibung hinzufügen" rows="1">
            </textarea>
          </ng-container>
        </div>
      </div>

      <hr class="divider">

      <div class="created-by-part">
        <div class="section-header">
          <span>Erstellt von</span>
        </div>
        <div class="section-content">
          <p class="creator">{{ createdBy }}</p>
        </div>
      </div>


      <div class="members-section mobile-only-members">
        <hr class="divider">
        <div class="section-header">
          <span>Mitglieder</span>
        </div>

        <div class="members-list">
          <div *ngIf="isLoadingMembers" class="loading-spinner-container">
            <mat-spinner diameter="40"></mat-spinner>
          </div>

          <ng-container *ngIf="!isLoadingMembers">
            <div class="user-item" *ngFor="let member of members" (click)="openProfileDialog(member)">
              <img [src]="member.photoURL" class="user-avatar" [alt]="member.username">
              <span>{{ member.username }}</span>
              <div class="status-dot" [class.online]="member.online"></div>
            </div>

            <button class="add-member-btn" (click)="openAddPeopleDialog()">
              <mat-icon>person_add_alt</mat-icon>
              <span>Mitglieder hinzufügen</span>
            </button>
          </ng-container>
        </div>
      </div>

      <div class="dialog-footer">
        <button mat-button class="footer-button" (click)="leaveChannel()">
          Channel verlassen
        </button>
      </div>
    </div>