.dialog-container {
  background-color: white;
  // width: 800px;
  min-height: 600px;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;

  .title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    padding-left: 1rem;
  }

  .close-button {
    color: black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent !important;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #4f46e5;
      background-color: #eceefe !important;
    }
  }
}

.content-wrapper {
  padding: 0 24px;
}

.section-box {
  position: relative;
  border: 1px solid #adb0d9;
  border-radius: 20px;
  padding: 16px;
  margin-bottom: 16px;
  transition: border-color 0.3s ease-in-out;
  min-height: 100px;
  height: auto;

  &.editing {
    border-color: transparent;
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    span {
      color: black;
      font-size: 16px;
      font-weight: 700;
    }

    .edit-button,
    .save-button {
      color: #4f46e5;
      font-size: 16px;
      background: transparent !important;
      padding: 8px;
      border: none !important;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: #eceefe !important;
      }

      &[disabled] {
        color: #9ca3af !important;
        background-color: #f3f4f6 !important;
        cursor: not-allowed;
      }
    }

    .save-button {
      border-radius: 20px;
      padding: 4px 16px;
    }
  }

  .section-content {
    position: relative;

    .input-container {
      display: flex;
      align-items: center;
      gap: 8px;
      background-color: white;
      border: 1px solid #adb0d9;
      border-radius: 40px;
      padding: 8px 16px;
      height: 60px;
      box-sizing: border-box;
      input.invalid {
        border-color: #dc3545;
      }

      .hash {
        color: black;
        font-size: 20px;
      }

      input {
        border: none;
        background: none;
        outline: none;
        width: 100%;
        font-size: 16px;
        color: black;
        font-family: inherit;
        padding: 8px 0;

        &::placeholder {
          color: #9ca3af;
        }
      }
    }

    .channel-name {
      display: flex;
      align-items: center;
      gap: 8px;

      .hash {
        color: black;
        font-size: 20px;
      }
    }

    textarea {
      width: 100%;
      min-height: 60px;
      border: 1px solid #adb0d9;
      border-radius: 40px;
      padding: 16px 24px;
      font-size: 16px;
      line-height: 1.5;
      resize: none;
      color: black;
      font-family: inherit;
      box-sizing: border-box;
      outline: none;
      overflow: hidden;
      transition: height 0.2s ease-in-out;

      &::placeholder {
        color: #9ca3af;
      }

      &:focus {
        border-color: #4f46e5;
      }
    }

    p {
      margin: 0;
      font-size: 16px;
      line-height: 1.5;
      display: flex;
      align-items: center;
    }

    .creator {
      color: #4f46e5;
      font-size: 20px;
    }
  }
}

.description-part {
  position: relative;
  transition: all 0.3s ease-in-out;

  &.editing {
    ~ .divider {
      opacity: 0.5;
    }

    .section-content {
      .input-container,
      textarea {
        opacity: 0;
        animation: fadeIn 0.3s ease-in-out forwards;
      }
    }
  }
}

.section-box:has(.description-part.editing) {
  border-color: transparent;
  transition: border-color 0.3s ease-in-out;
}

.divider {
  margin: 24px 0;
  border: none;
  border-top: 1px solid #adb0d9;
  transition: opacity 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(5px);
  }
}

.dialog-footer {
  padding: 16px 24px;
  display: flex;
  justify-content: flex-end;

  .footer-button {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    background-color: #4f46e5;
    color: white;
    border-radius: 25px;
    border: none !important;
    transition: all 0.3s ease-in-out;
    position: absolute;
    bottom: 2rem;

    &:hover {
      background-color: #797ef3 !important;
      transform: translateY(-1px);
    }
  }

  @media (max-width: 768px) {
    .footer-button {
      position: relative;
      bottom: auto;
      margin-top: 1rem;
    }
  }
}

::ng-deep {
  .mat-button-focus-overlay,
  .mat-ripple-element,
  .mat-mdc-button-persistent-ripple,
  .mat-mdc-button-touch-target {
    display: none !important;
  }

  .mdc-button {
    border: none !important;

    &::before,
    &::after {
      display: none !important;
    }
  }
}

.name-part {
  position: relative;
  transition: all 0.3s ease-in-out;

  &.editing {
    .section-content {
      .input-container {
        opacity: 0;
        animation: fadeIn 0.3s ease-in-out forwards;
      }
    }
  }
}

.section-box:has(.name-part.editing) {
  border-color: transparent;
  transition: border-color 0.3s ease-in-out;
}

.validation-message {
  color: #dc3545;
  font-size: 12px;
  margin-top: 8px;
  margin-left: 24px;
  position: absolute;
}

.button-text {
  font-weight: 500 !important;
  color: #535af1 !important;
}

.edit-button,
.save-button {
  .button-text {
    @media (max-width: 1024px) {
      display: none;
    }
  }

  .button-icon {
    display: none;
    @media (max-width: 1024px) {
      display: inline-block;
    }
  }
}

.members-section {
  margin-top: 24px;

  .members-list {
    margin-top: 16px;

    .user-item {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 8px 16px;
      cursor: pointer;
      position: relative;
      border-radius: 30px;

      &:hover {
        background-color: #eceefe;
      }

      .user-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        font-size: 16px;
      }

      .status-dot {
        position: absolute;
        bottom: 8px;
        left: 45px;
        width: 10px;
        height: 10px;
        background-color: #9ca3af;
        border-radius: 50%;
        border: 2px solid white;
        transition: background-color 0.3s ease;

        &.online {
          background-color: #22c55e;
        }
      }
    }
  }

  .add-member-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 8px 16px;
    margin-top: 8px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-family: inherit;

    mat-icon {
      font-size: 20px;
    }

    span {
      font-size: 16px;
    }

    &:hover {
      background-color: #eceefe;
      color: #535af1;
    }
  }
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.mobile-only-members {
  display: none;
}

::ng-deep {
  .cdk-overlay-container {
    overflow-y: scroll;
  }
}

@media (max-width: 768px) {
  ::ng-deep {
    .mat-mdc-dialog-surface {
      // border-radius: 0 !important;
    }
  }
}

@media (max-width: 600px) {
  .mobile-only-members {
    display: block;
  }
  .dialog-footer {
    justify-content: center;
  }
}
