@use './../../../styles.scss' as styles;

.login-cointainer {
    height: calc(100% - 100px);
    width: calc(100% - 120px);
    padding: 50px 60px;
    @include styles.dFlex($d: flex, $fd: column, $jc: noen, $ai: center);
}

span {
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 46px;
}

form {
    width: 100%;
}


.forgot-password-container {
    font-family: Figtree;
    font-size: 1.125rem;
    color: #797EF3;
}

.separator {
    width: 100%;
    @include styles.dFlex($d: flex, $fd: none, $jc: center, $ai: center);
    padding: 30px 0;
}

.seperator-text {
    padding: 5px 15px;
    font-size: 1.125rem;
}

.separator-line {
    height: 1px;
    width: 42%;
    background-color: #ADB0D9;
}

.google-login-container {
    @extend .rounded-container;

    &:hover {
        border: 1px solid #535AF1;

        .google-button {
            font-weight: 700;
        }
    }

    &:active {
        border: 1px solid #686868;
    }
}

.google-button {
    @include styles.dFlex($d: flex, $fd: none, $jc: center, $ai: center);
    width: 100%;
    height: 100%;
    font-family: Figtree;
    font-size: 1.125rem;
    color: #444DF2;
    cursor: pointer;
}

.google-img {
    width: 36px;
    height: 36px;
    padding-right: 20px;
}

.login-button-container {
    width: 100%;
    @include styles.dFlex($d: flex, $fd: none, $jc: center, $ai: center, $g: 30px);

    button {
        height: 50px;
        border-radius: 25px;
        font-size: 1.125rem;
        padding: 12px 25px;
        font-weight: 700;
        font-family: Nunito;
        cursor: pointer;
    }

}

.btn-auth {
    background-color: #444DF2;
    border: none;
    color: #FFFFFF;

    &:hover {
        background-color: #797EF3;
    }

}

.btn-guest {
    border: 1px solid #797EF3;
    background-color: unset;
    color: #444DF2;

    &:hover {
        background-color: #535AF1;
        color: #FFFFFF;
    }
}