@use "./../../../styles.scss" as s;
@use "./../../../assets/styles/fonts.scss" as f;
@use "./../../../assets/styles/colors.scss" as c;

.forgot-pw {
    width: fit-content;
    border-radius: 30px;
    padding: 5px 15px;
    font-family: Figtree;
    font-size: 1rem;
    color: c.$primary-color;
    cursor: pointer;

    &:hover {
        background-color: c.$general-bg-color;
    }
}

.separator {
    @include s.f_r_c_c;
    width: 100%;
    box-sizing: border-box;
    padding: 25px 0;
}

.seperator-text {
    padding: 5px 15px;
    font-size: 1rem;
}

.separator-line {
    height: 1px;
    width: 42%;
    background-color: c.$divider-line;
}

.google-login-container {
    @extend .rounded-container;
    &:hover {
        border: 1px solid c.$secondary-color;
        .google-button {
            font-weight: 700;
        }
    }

    &:active {
        border: 1px solid c.$inactive-dark;
    }
}

.google-button {
    @include s.f_r_c_c;
    width: 100%;
    height: 100%;
    font-family: Figtree;
    font-size: 1rem;
    color: c.$contrast-color;
    cursor: pointer;
}

.google-img {
    width: 32px;
    height: 32px;
    padding-right: 20px;
}

.login-button-container {
    @include s.f_r_sb_c;
    max-width: 315px;
    width: 100%;
    box-sizing: border-box;
}

@media(max-width: 500px) {
    .forgot-pw {
        margin-top: -10px;
    }

    .separator {
        padding: 16px 0;
    }

    .google-login-container {
        margin-bottom: 20px;
    }
}