<div class="login-cointainer">
  <h1>Anmeldung</h1>
  <span class="login-description">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
    verwendest.</span>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
    <div class="auth-input-container">
      <mat-icon matSuffix>mail_outline</mat-icon>
      <input type="email" placeholder="beispielname@email.com" formControlName="email">
      
      @if (form.get('email')?.touched && form.get('email')?.errors) {
        <div class="error-message">Diese E-Mail-Adresse ist leider ungültig.</div>
        }
    </div>

    <div class="auth-input-container">
      <mat-icon matSuffix>lock_outline</mat-icon>
      <input type="password" placeholder="Passwort" formControlName="password">

      @if (form.get('password')?.touched && form.get('password')?.errors || this.error) {
        <div class="error-message">Falsches Passwort oder E-Mail.. Bitte noch einmal versuchen.</div>
        }
    </div>

      <p class="forgot-pw" [routerLink]="['/reset-password']">Passwort vergessen?</p>
    <div class="separator">
      <div class="separator-line"></div>
      <div class="seperator-text">ODER</div>
      <div class="separator-line"></div>
    </div>
    <div class="google-login-container">
      <div class="google-button" (click)="onGoogleSignIn()">
        <img class="google-img" src="img/Google.png">
        <p>Anmelden mit Google</p>
      </div>
    </div>

    <div class="login-button-container">
      <button type="submit" class="btn-full button-base">Anmelden</button>
      <button (click)="guestLogin()" class="btn-zero-fill button-base">Gäste-Login</button>
    </div>
  </form>
</div>