@use './../../../styles.scss' as styles;

.forgot-pw {
    width: fit-content;
    border-radius: 30px;
    padding: 5px 15px;
    font-family: Figtree;
    font-size: 1rem;
    color: #797EF3;
    cursor: pointer;

    &:hover {
        background-color: #ECEEFE;
    }
}

.separator {
    width: 100%;
    @include styles.dFlex($d: flex, $fd: none, $jc: center, $ai: center);
    padding: 25px 0;
}

.seperator-text {
    padding: 5px 15px;
    font-size: 1rem;
}

.separator-line {
    height: 1px;
    width: 42%;
    background-color: #ADB0D9;
}

.google-login-container {
    @extend .rounded-container;

    &:hover {
        border: 1px solid #535AF1;

        .google-button {
            font-weight: 700;
        }
    }

    &:active {
        border: 1px solid #686868;
    }
}

.google-button {
    @include styles.dFlex($d: flex, $fd: unset, $jc: center, $ai: center);
    width: 100%;
    height: 100%;
    font-family: Figtree;
    font-size: 1rem;
    color: #444DF2;
    cursor: pointer;
}

.google-img {
    width: 32px;
    height: 32px;
    padding-right: 20px;
}

.login-button-container {
    width: 100%;
    @include styles.dFlex($d: flex, $fd: none, $jc: center, $ai: center, $g: 30px)
}