<div class="login-cointainer">
    <h1>Wähle deinen Avatar</h1>
    <div class="avatar-picker-container">
        <div class="person-circle">
            <img [class.avatar-img]="selectedUserAvatar !== 'img/person.png'"
                [class.person-circle-img]="selectedUserAvatar == 'img/person.png'" src="{{selectedUserAvatar}}">
        </div>
        <div class="user-information">
            <h2>{{this.userInfo.currentUser.displayName}}</h2>
            <p>Aus der Liste wählen</p>
        </div>
        <div class="login-form">
            <div class="avatar-img-container">
                @for(avatar of avatarPath; track avatar) {
                    <img src="{{avatar}}" (click)="selectedAvatar(avatar)">
                }
            </div>
            <div class="button-container">
                <button (click)="setNewAvatar()" class="btn-full button-base" [disabled]="disabled">Speichern</button>
                <button (click)="close()" class="btn-zero-fill button-base">Abbrechen</button>
            </div>
        </div>
    </div>
</div>