@use './../../../styles.scss' as styles;

.avatar-picker-container {
    @include styles.dFlex($d: flex, $fd: column, $jc: center, $ai: center);
    width: calc(100% - 34px);
    padding: 0px 17px;
}

.person-circle {
    height: 140px;
    width: 140px;
    background-color: #797EF3;
    border-radius: 100%;
    @include styles.dFlex($d: flex, $fd: unset, $jc: center, $ai: center);
    margin-bottom: 32px;
}

.person-circle-img {
    height: 75px;
    width: 75px;
}


.avatar-img {
    height: 140px;
    width: 140px;
    border-radius: 100%;
}

.user-information {
    width: 100%;
}

h2 {
    font-size: 1.875rem;
    text-align: center;
}

p {
    text-align: left;
    font-size: 1.125rem;
    padding: 20px 0 0px 0;
}

.avatar-img-container {
    @include styles.dFlex($d: flex, $fd: unset, $jc: space-between, $ai: center, $g: 8px);
    width: 100%;
    padding-bottom: 10px;
    margin: 20px 0;

    img {
        width: 50px;
        height: 50px;
        cursor: pointer;
        border-radius: 100%;
        border: 4px solid #e6e6e600;

        &:hover {
            border: 4px solid #E6E6E6;
        }

        &:active {
            border: 4px solid #ECEEFE;
        }
    }
}

.button-container {
    @include styles.dFlex($d: flex, $fd: center, $jc: center, $ai: center, $g: 30px);
}

@media (max-width: 500px) {
    .profile-modal {
      background: white;
      border-radius: 0px;
      width: calc( 100% - 32px);
      padding: 16px;
      position: fixed;
      top: 80px;
      bottom: 0px;
      right: 0px;
      left: 0px;
    }
  }