<section>
  <header>
    <div class="thread-header">
      <p>Thread</p>
      <span class="channel-name" *ngIf="currentChannelName"># {{ currentChannelName }}</span>
    </div>
    <mat-icon class="close" (click)="closeThread()">close</mat-icon>
  </header>


  <div class="chat">
    <div #messagesContainer id="messagesContainer" class="messages-container">
      <!-- Parent Message -->
      <app-user-message *ngIf="parentMessage" [threadMessage]="true" [showAnswerDetails]="false"
        [showReactionIcons]="true" [allMessages]="parentMessage" [CurrentUserURL]="parentMessage[0]?.authorPhoto"
        [user]="allUsers">
      </app-user-message>



      <!-- Thread Divider -->
      <div class="thread-divider">
        <div class="divider-text">
          {{ replyCount }} {{ replyCount === 1 ? "Antwort" : "Antworten" }}
        </div>
        <div class="divider-line"></div>
      </div>

      <!-- Thread Messages -->
      <ng-container *ngFor="let message of threadMessages">
        <app-user-message [threadMessage]="true" [showAnswerDetails]="false" [showReactionIcons]="true"
          [allMessages]="[message]" [CurrentUserURL]="message.authorPhoto" [parentMessageId]="messageId"
          [user]="allUsers" class="width-100">
        </app-user-message>
      </ng-container>
    </div>

    <app-message-input-box [isThreadMessage]="true" [parentMessageId]="messageId"
      [placeholder]="'Auf diese Nachricht antworten...'">
    </app-message-input-box>
  </div>
</section>