<section>
  <header>
    <div class="thread-header">
      <p>Thread</p>
      <span class="channel-name" *ngIf="currentChannelName"># {{ currentChannelName }}</span>
    </div>
    <mat-icon class="close" (click)="closeThread()">close</mat-icon>
  </header>

  <div class="chat">
    <div #messagesContainer id="messagesContainer" class="messages-container">
      <app-user-message *ngIf="parentMessage" [isInThreadView]="true" [threadMessage]="true" [showAnswerDetails]="false"
        [showReactionIcons]="true" [allMessages]="parentMessage" [CurrentUserURL]="parentMessage[0].authorPhoto"
        [user]="allUsers" [activeEmojiPicker]="activeEmojiPicker" (setActiveEmojiPicker)="handleEmojiPicker($event)">
      </app-user-message>

      <div class="thread-divider">
        <div class="divider-text">
          {{ replyCount }} {{ replyCount === 1 ? "Antwort" : "Antworten" }}
        </div>
        <div class="divider-line"></div>
      </div>

      <ng-container *ngFor="let message of threadMessages">
        <app-user-message [isInThreadView]="true" [threadMessage]="true" [showAnswerDetails]="false"
          [showReactionIcons]="true" [allMessages]="[message]" [CurrentUserURL]="message.authorPhoto"
          [parentMessageId]="messageId" [user]="allUsers" [activeEmojiPicker]="activeEmojiPicker"
          (setActiveEmojiPicker)="handleEmojiPicker($event)" class="width-100">
        </app-user-message>
      </ng-container>
    </div>

    <app-message-input-box [isThreadMessage]="true" [parentMessageId]="messageId"
      [placeholder]="'Auf diese Nachricht antworten...'">
    </app-message-input-box>
  </div>
</section>