@use "./../../../styles.scss" as styles;

section {
  @include styles.dFlex($d: flex, $fd: column, $jc: flex-start, $ai: flex-start, $g: 12px);
  flex: 1;
  height: 100%;
  box-sizing: border-box;
}

header {
  height: 80px;
  min-height: 80px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  @include styles.padding($pl: 48px, $pr: 48px, $pt: 0, $pb: 0);
  width: 100%;
  @include styles.dFlex($d: flex,
    $fd: row,
    $jc: space-between,
    $ai: center,
    $g: 0);
  box-sizing: border-box;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.thread-header {
  @include styles.dFlex($d: flex,
    $fd: row,
    $jc: flex-start,
    $ai: center,
    $g: 8px);
  font-size: 24px;
  font-weight: 600;
}

.channel-name {
  color: #797ef3;
  font-size: 14px;
}

.close {
  cursor: pointer;

  &:hover {
    color: #535af1;
    background-color: #eceefe;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #eceefe;
  }
}

.messages-container {
  overflow: scroll;
  scrollbar-width: none;
}

.chat {
  height: calc(100% - 92px);
  box-sizing: border-box;
  @include styles.dFlex($d: flex, $fd: column, $jc: space-between, $ai: space-between, $g: 10px);
  padding-bottom: 12px;
}

.thread-divider {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 16px 0;

  .divider-line {
    flex-grow: 1;
    height: 1px;
    margin-right: 32px;
    background-color: #adb0d9;
  }

  .divider-text {
    margin: 0 32px;
    font-size: 18px;
    color: #adb0d9;
  }
}