@use "./../../../styles.scss" as s;
@use "./../../../assets/styles/fonts.scss" as f;
@use "./../../../assets/styles/colors.scss" as c;

section {
  @include s.f_c_fs_sb;
  flex: 1;
  height: 100%;
  box-sizing: border-box;
}

header {
  height: 80px;
  min-height: 80px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  padding: 0 48px;
  width: 100%;
  @include s.f_r_sb_c;
  box-sizing: border-box;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.thread-header {
  @include s.f_r_fs_c;
  gap:8px;
  font-size: 24px;
  font-weight: 600;
}

.channel-name {
  color: c.$primary-color;
  font-size: 14px;
}

.close {
  cursor: pointer;

  &:hover {
    color: c.$secondary-color;
    background-color: c.$general-bg-color;
    border-radius: 50%;
    box-shadow: 0 0 0 5px c.$general-bg-color;
  }
}

.messages-container {
  overflow: scroll;
  scrollbar-width: none;
}

.chat {
  height: calc(100% - 92px);
  box-sizing: border-box;
  @include s.f_c_sb_sb;
  gap:10px;
}

.thread-divider {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 16px 0;

  .divider-line {
    flex-grow: 1;
    height: 1px;
    margin-right: 32px;
    background-color: c.$divider-line;
  }

  .divider-text {
    margin: 0 32px;
    font-size: 18px;
    color: c.$border-color;
  }
}

.mobile-back-btn {
  display: none;
}

app-message-input-box {
  padding-top: 4px;
}

@media (max-width: 1200px) {
  header {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 1100px) {
  .thread-header p {
    font-size: 20px;
  }

  .channel-name {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .mobile-back-btn {
    @include s.f_r_c_c;
    background: none;
    border: none;
    padding: 8px;
    margin-right: 8px;
    cursor: pointer;
    color: inherit;
  }

  .thread-header {
    display: flex;
    align-items: center;
  }
}
