<div class="overlay-content">
  <div class="overlay-header">
    <h2>Mitglieder</h2>
    <mat-icon class="close-icon" (click)="close()">close</mat-icon>
  </div>

  <div class="user-list">

    <div *ngIf="isLoading" class="loading-spinner-container">
      <mat-spinner diameter="40"></mat-spinner>
    </div>


    <ng-container *ngIf="!isLoading">
      <div class="user-item" *ngFor="let member of members" (click)="openProfileDialog(member)">
        <img [src]="member.photoURL" class="user-avatar" [alt]="member.username">
        <span>{{ member.username }}</span>
        <div class="status-dot" [class.online]="member.online"></div>
      </div>

      <button class="add-member-btn" (click)="openAddPeopleDialog()">
        <mat-icon>person_add_alt</mat-icon>
        <span>Mitglieder hinzufügen</span>
      </button>
    </ng-container>
  </div>
</div>