@use "./../../../styles.scss" as styles;
@use "./../../../assets/styles/fonts.scss" as fonts;

mat-card {
  border-top-left-radius: 0px !important;
}

button {
  @include styles.dFlex($d: flex, $fd: column, $jc: center, $ai: center, $g: 0);
  padding: 10px 4px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  border: none;
  background-color: white;

  &:hover {
    background-color: #eceefe;
    border-radius: 30px;
    color: #797ef3;
    font-weight: 700;
  }
}
