.dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-container {
  background: white;
  border-radius: 20px;
  padding: 32px;
  width: 800px;
  height: 480px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }

  .close {
    cursor: pointer;
    &:hover {
      color: #535af1;
      background-color: #eceefe;
      border-radius: 50%;
      box-shadow: 0 0 0 5px #eceefe;
    }
  }
}

p {
  font-size: 16px;
  font-weight: 400;
}

.input-group {
  label {
    display: block;
    color: black;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
  }

  input {
    width: 100%;
    height: 60px;
    border: 1px solid #adb0d9;
    border-radius: 40px;
    font-size: 16px;
    padding-left: 2rem;
    box-sizing: border-box;

    &::placeholder {
      color: #999;
    }

    &:focus {
      outline: none;
      border-color: #444df2;
    }
  }
}

.create-btn {
  float: right;
  background: #444df2;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  bottom: 4rem;
  right: 2rem;
  &:hover {
    background: #797ef3;
  }
  &.disabled {
    background-color: #e2e2e2;
    cursor: not-allowed;

    &:hover {
      background-color: #e2e2e2;
    }
  }
}

.optional {
  color: #686868;
  font-size: 16px;
  font-weight: 400;
}

.tag {
  position: absolute;
  margin-top: 0.9rem;
  margin-left: 1rem;
  font-weight: bold;
  color: grey;
}

.input-group {
  position: relative;
  margin-bottom: 32px;
  input {
    &.invalid {
      border-color: #dc3545;
    }
  }

  .validation-message {
    color: #dc3545;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 24px;
    position: absolute;
  }
}

.error-message {
  color: #f44336;
  font-size: 12px;
  margin-top: 4px;
}
