@use "./../../../../styles.scss" as s;
@use "./../../../../assets/styles/fonts.scss" as f;
@use "./../../../../assets/styles/colors.scss" as c;

.dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-container {
  background: white;
  border-radius: 20px;
  padding: 32px;
  width: 800px;
  height: 480px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  margin: 32px;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }

  .close {
    cursor: pointer;

    &:hover {
      color: c.$secondary-color;
      background-color: c.$general-bg-color;
      border-radius: 50%;
      box-shadow: 0 0 0 5px c.$general-bg-color;
    }
  }
}

p {
  font-size: 16px;
  font-weight: 400;
}

.input-group {
  label {
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
  }

  input {
    width: 100%;
    height: 60px;
    border: 1px solid c.$border-color;
    border-radius: 40px;
    font-size: 16px;
    padding-left: 2rem;
    box-sizing: border-box;

    &::placeholder {
      color: #999;
    }

    &:focus {
      outline: none;
      border-color: c.$contrast-color;
    }
  }
}

.create-btn {
  float: right;
  background: c.$contrast-color;
  ;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  bottom: 4rem;
  right: 2rem;

  &:hover {
    background: c.$primary-color;
  }

  &.disabled {
    background-color: c.$general-bg-color;
    cursor: not-allowed;

    &:hover {
      background-color: c.$general-bg-color;
    }
  }
}

.optional {
  color: c.$inactive-dark;
  font-size: 16px;
  font-weight: 400;
}

.tag {
  position: absolute;
  margin-top: 0.9rem;
  margin-left: 1rem;
  font-weight: bold;
  color: c.$inactive-dark;
}

.input-group {
  position: relative;
  margin-bottom: 32px;

  input {
    &.invalid {
      border-color: c.$error-msg;
    }
  }

  .validation-message {
    color: c.$error-msg;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 24px;
    position: absolute;
  }
}

.error-message {
  color: c.$error-msg;
  font-size: 12px;
  margin-top: 4px;
}

@media (max-width: 1024px) {
  .dialog-container {
    margin: 0;
    height: 100vh;
    padding-top: 64px;
    width: 100%;
  }

  .create-btn {
    bottom: 6rem;
  }
}