@use "./../../../../../styles.scss" as s;
@use "./../../../../../assets/styles/fonts.scss" as f;
@use "./../../../../../assets/styles/colors.scss" as c;

.overlay-content {
  background: c.$overlay-bg;
  border-radius: 16px;
  width: 420px;
  padding: 16px;
  position: fixed;
  top: 160px;
  right: 100px;
  border-top-right-radius: 0;
  z-index: 1000;
}

.overlay-header {
  @include s.f_r_sb_c;
  margin-bottom: 16px;

  h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }

  .close-icon {
    cursor: pointer;
    &:hover {
      color: c.$overlay-close-icon-hover;
    }
  }
}

.channel-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 16px;
  color: c.$overlay-channel-name;
  font-weight: 500;
}

.search-container {
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

.tag-input {
  padding: 8px 12px;
  border: 1px solid c.$overlay-input-border;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;

  input {
    border: none;
    outline: none;
    padding: 4px;
    flex: 1;
    min-width: 120px;
    font-size: 16px;
    background: transparent;

    &::placeholder {
      color: c.$overlay-input-placeholder;
    }
  }
}

.selected-user-tag {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 12px;
  background-color: c.$overlay-selected-user-bg;
  border-radius: 20px;
  height: 32px;

  img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  span {
    color: c.$overlay-selected-user-name;
    font-size: 14px;
  }

  .remove-user {
    cursor: pointer;
    font-size: 18px;
    color: c.$overlay-selected-user-close-icon;
    &:hover {
      color: c.$overlay-selected-user-close-icon-hover;
    }
  }
}

.search-dropdown {
  position: fixed;
  top: auto;
  width: 388px;
  background: c.$add-member-bg-search-result;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: auto;
  z-index: 1001;
  border: 1px solid c.$add-member-bg-search-result-border;
  margin-top: 4px;
}

.user-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 8px 16px;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: c.$add-member-bg-search-result-user;
  }

  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  span {
    color: c.$add-member-search-result-text; 
    font-size: 14px;
  }

  .status-dot {
    position: absolute;
    bottom: 8px;
    left: 40px;
    width: 8px;
    height: 8px;
    background-color: c.$add-member-search-result-status;
    border-radius: 50%;
    border: 2px solid c.$img-bg;
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.add-btn {
  background: c.$inactive-dark;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  right: 16px;
  bottom: 16px;

  &:hover:not(:disabled) {
    background: c.$secondary-color;
  }

  &:disabled {
    background: #d1d5db;
    cursor: not-allowed;
  }
}

@media (max-width: 1024px) {
  .overlay-content {
    right: 60px;
    top: 140px;
  }
}

@media (max-width: 550px) {
  .overlay-content {
    width: calc(100% - 32px);
    max-width: 300px;
    right: 60px;
    top: 140px;
  }

  .search-dropdown {
    position: fixed;
    width: calc(100% - 32px);
    left: 16px;
    right: 16px;
  }
}

@media (max-width: 375px) {
  .overlay-content {
    right: 20px;
  }
}

@media (max-width: 320px) {
  .overlay-content {
    right: 0;
  }
}
