@use "./../../../styles.scss" as s;
@use "./../../../assets/styles/fonts.scss" as f;
@use "./../../../assets/styles/colors.scss" as c;

section {
  @include s.f_c_fs_fs;
  gap: 48px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-top: 18px;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.message-wrapper {
  @include s.f_c_fs_fs;
  gap: 42px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.messages-by-date-container {
  @include s.f_c_c_c;
  width: 100%;
  box-sizing: border-box;
  height: auto;
}

.divider-line {
  @include s.f_c_c_c;
  height: 1px;
  background-color: c.$divider-line;
  width: 100%;
  box-sizing: border-box;
}

.divider-text-box {
  padding: 4px 16px;
  border: 1px solid c.$divider-line;
}

.divider-text {
  font-size: 18px;
}

.empty-chat-preview {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 20px;

  .profile-preview {
    .preview-header {
      margin-bottom: 16px;

      .clickable-area {
        display: inline-flex;
        align-items: end;
        gap: 12px;
        cursor: pointer;
        padding: 8px;

        &:hover {
          .user-name {
            color: c.$hover-user-name;
          }
        }

        .user-avatar {
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }

        .user-name {
          font-weight: 700;
          font-size: 24px;
        }
      }
    }

    .preview-text {
      color: c.$preview-text;
      line-height: 1.5;
      margin: 0;
      padding: 0 8px;
    }
  }

  .user-link {
    color: c.$preview-user-link;
    cursor: pointer;
    text-decoration: none;
  }

  .channel-preview {
    padding: 24px;
    margin: 24px;
    border-radius: 8px;

    .preview-header {
      margin-bottom: 16px;

      .channel-name {
        font-size: 24px;
        font-weight: 600;
        color: c.$preview-channel-name;
      }
    }

    .preview-content {
      .preview-text {
        font-size: 16px;
        line-height: 1.5;
        color: c.$preview-text;

        span {
          color: c.$preview-user-link;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .empty-chat-preview {
    .channel-preview {
      padding: 0;
    }
  }
}

@media (max-width: 425px) {
  .empty-chat-preview {
    .channel-preview {
      margin: 12px;
    }
  }
}