<section>
  <div class="message-date-divider">
    <div class="divider-text-box bg-frame-v1">
      <p class="divider-text">{{ messageTime }}</p>
      <!-- <p class="divider-text">{{ messageDate > currentTimeStamp ? messageDate : "Heute" }}</p> -->
    </div>
  </div>

  <app-user-message [threadMessage]="false" [ownMessage]="false" [showAnswerDetails]="true" [showReactionIcons]="false" (openThreadEvent)="openThread()" class="width-100"></app-user-message>

  <div class="message-date-divider">
    <div class="divider-text-box bg-frame-v1">
      <p class="divider-text">Heute</p>
      <!-- <p class="divider-text">{{ messageDate > currentTimeStamp ? messageDate : "Heute" }}</p> -->
    </div>
  </div>

  <app-user-message [threadMessage]="false" [ownMessage]="true" [showAnswerDetails]="false" [showReactionIcons]="true" class="width-100"></app-user-message>

</section>