<section #chatContainer (scroll)="onScroll()">
  <!-- Alte Nachrichten -->
  <div class="message-wrapper" *ngIf="allMsgPast.length">
    <div
      class="messages-by-date-container"
      *ngFor="let entry of groupedMessages | keyvalue"
    >
      <!-- Anzeige der Trennlinie für das Datum -->
      <div class="divider-line">
        <div class="divider-text-box bg-frame-v1">
          <p class="divider-text">{{ entry.key | date : "dd.MM.yyyy" }}</p>
        </div>
      </div>
      <!-- Iteration durch Nachrichten für dieses Datum -->
      <app-user-message
        *ngFor="let msg of entry.value"
        [messagesOld]="[msg]"
        [threadMessage]="false"
        [ownMessage]="false"
        [showAnswerDetails]="true"
        [showReactionIcons]="false"
        (openThreadEvent)="openThread()"
        class="width-100"
      >
      </app-user-message>
    </div>
  </div>

  @if(allMsgToday.length){
  <div class="messages-by-date-container">

    <div class="divider-line">
      <div class="divider-text-box bg-frame-v1">
        <p class="divider-text">Heute</p>
      </div>
    </div>
    
  </div>
  <app-user-message
    [messagesToday]="getMessagesToday()"
    [threadMessage]="false"
    [ownMessage]="true"
    [showAnswerDetails]="false"
    [showReactionIcons]="true"
    class="width-100"
  ></app-user-message>
  }
</section>

<!-- kommentar -->