@use './../../../styles.scss';
@use "./../../../assets/styles/fonts.scss" as f;
@use "./../../../assets/styles/colors.scss" as c;

h1 {
     padding: 0 40px;
}

.privacy-policy-container {
    @extend .f_r_c_c;
    gap:8px;
    margin-bottom: 80px;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 100%;
    height: 24px;
    width: 24px;

    &:hover {
        background-color: transparent;
    }
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 3px;
    height: 14px;
    width: 14px;
    border: 2px solid c.$bg-checkbox-form-border;
    border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: c.$bg-checkbox-form-bg-hover;
    border: 2px solid c.$bg-checkbox-form-border-hover;

    &:after {
        border: solid c.$bg-checkbox-form-contain-hover;
        border-width: 0 2px 2px 0;
    }
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 4px;
    top: 0px;
    width: 4px;
    height: 8px;
    border: solid c.$bg-checkbox-form-contain;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.privacy-policy-text {
    font-family: OpenSans;
    font-size: 0.875rem;

    span {
        font-family: Figtree;
        font-size: 1rem;
        color: c.$conditions-text;
        border-radius: 20px;
        padding: 0 5px;
        cursor: pointer;

        &:hover {
            background-color: c.$conditions-text-bg-hover; 
            color:c.$conditions-text-hover;
            font-weight: 500;
            padding: 0 4.3px;
        }
    }
}

.hovered {
    background-color: c.$bg-checkbox-form-bg-outside-hover;

    span {
        border: 2px solid c.$bg-checkbox-form-bg-outline-hover;
    }
}