<section>
  <app-sidebar class="bg-frame-v1" *ngIf="sidebarActive"></app-sidebar>

  <div class="open-sidebar-btn bg-frame-v1" (click)="openSidebar()">
    <mat-card class="bg-frame-v1">
        <mat-card-content class="open-sidebar-content">
          <span>Workspace-Menü schließen</span>
          <mat-icon>chevron_left</mat-icon>
        </mat-card-content>
    </mat-card>
  </div>


  <app-main-chat class="bg-frame-v1 flex-g"></app-main-chat>

  <app-thread class="bg-frame-v1"></app-thread>
</section>