<main>
  <app-header></app-header>

  <section>
    <div *ngIf="!isMobile" class="open-sidebar-btn bg-frame-v1" (click)="toggleSidebar()">
      <mat-card class="bg-frame-v1">
        <mat-card-content class="open-sidebar-content">
          <span>Workspace-Menü {{ sidebarActive ? 'schließen' : 'öffnen' }}</span>
          <mat-icon>{{ sidebarActive ? 'close_fullscreen' : 'open_in_full' }}</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="content-container">
      <mat-drawer-container class="mat-drawer-container" autosize>
        <mat-drawer #drawer class="sidenav bg-frame-v1" mode="side" [opened]="isMobile || sidebarActive">
          <div class="sidebar-container">
            <app-sidebar class="bg-frame-v1"></app-sidebar>
          </div>
        </mat-drawer>

        <div class="mat-drawer-content">
          <div #contentWrapper class="content-wrapper">
            <app-main-chat class="bg-frame-v1 flex-g">
            </app-main-chat>
            <app-thread class="bg-frame-v1" *ngIf="threadVisible" [messageId]="currentThreadMessageId"
              [class.thread-active]="threadVisible" (closeThreadEvent)="threadVisible = false">
            </app-thread>
          </div>
        </div>
      </mat-drawer-container>
    </div>
  </section>
</main>