@use "./../../styles.scss" as styles;
@use "./../../assets/styles/fonts.scss" as fonts;
@use "./../../assets/styles/theme-colors.scss" as colors;

section {
  height: calc(100% - 100px);
  position: relative;
}

mat-drawer-container {
  width: 100%;
  height: 100%;
  background: transparent !important;
}

mat-drawer {
  width: 20%;
  margin-left: 1rem;
}

.content-wrapper {
  @include styles.dFlex(
    $d: flex,
    $fd: row,
    $jc: space-between,
    $ai: flex-start,
    $g: 12px
  );
  height: 100%;
  margin-left: 2.5rem;
}

app-main-chat {
  height: 100%;
  margin-left: -12px;
  flex: 1;
}

app-thread {
  width: 30%;
  height: 100%;
}

.open-sidebar-btn {
  position: fixed;
  left: 0;
  z-index: 1000;
  height: 100%;
  background-color: transparent;

  mat-card {
    @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 0);
    height: 40%;
    width: 60px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 4px 4px 8px rgba(89, 89, 89, 0.3);
    font-size: 18px;
    font-weight: 500px;
    line-height: 24px;
    cursor: pointer;

    &:hover {
      color: #797ef3;
      font-weight: 700;
    }
  }
}

.open-sidebar-content {
  @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 12px);
  transform: rotate(270deg);
  white-space: nowrap;

  mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
  }
}
