<section>
  <div class="open-sidebar-btn bg-frame-v1" (click)="drawer.toggle()">
    <mat-card class="bg-frame-v1">
      <mat-card-content class="open-sidebar-content">
        <span>Workspace-Menü {{ sidebarActive ? 'schließen' : 'öffnen' }}</span>
        <mat-icon>{{ sidebarActive ? 'close_fullscreen' : 'open_in_full' }}</mat-icon>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer #drawer class="sidenav bg-frame-v1" mode="side" [opened]="sidebarActive">
      <app-sidebar class="bg-frame-v1"></app-sidebar>
    </mat-drawer>

    <div class="mat-drawer-content">
      <div class="content-wrapper">
        <app-main-chat class="bg-frame-v1 flex-g"></app-main-chat>
        <app-thread class="bg-frame-v1"></app-thread>
      </div>
    </div>
  </mat-drawer-container>
</section>