<div class="login-cointainer">
    <h1>Passwort zurücksetzen</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">

        <div class="auth-input-container">
            <mat-icon matSuffix>lock_outline</mat-icon>
            <input type="password" placeholder="Neues Passwort" formControlName="password">

            @if (form.get('password')?.touched && form.get('password')?.errors) {
            <div class="error-message">{{this.validatorService.errorMessages}}.</div>
            }
        </div>

        <div class="auth-input-container mr-bottom">
            <mat-icon matSuffix>lock_outline</mat-icon>
            <input type="password" placeholder="Neues Kennwort bestätigen" formControlName="confirmPassword">

            @if (form.get('confirmPassword')?.touched && form.errors?.['passwordsMismatch']) {
            <div class="error-message">Ihre Kennwörter stimmen nicht überein.</div>
            }
        </div>

        <div class="login-button-container">
            <button type="submit" [disabled]="form.get('password')?.errors || form.errors?.['passwordsMismatch']"
                class="btn-full button-base position-bottom-right">Passwort ändern</button>
        </div>
    </form>
    <mat-icon class="arrow-back close-back" [routerLink]="['']">arrow_back</mat-icon>
</div>