<div class="landing-continer">
    <div class="header">
        <app-logo-component></app-logo-component> 
        <div class="create-container">
            @if (this.router.url === '/';) {
            <p>Neu bei DABubble?</p>
            <p class="button-link" [routerLink]="['/register']">Konto erstellen</p>
            }
        </div>
    </div>
    <mat-card class="bg-frame-v1 user-auth-section">
        <router-outlet></router-outlet>
    </mat-card>
    <div class="footer">
        @if (this.router.url === '/';) {
        <p class="button-link" [routerLink]="['/imprint']">Impressum</p>
        <p class="button-link" [routerLink]="['/privacy-policy']">Datenschutz</p>
        }
    </div>

    <div class="user-info-overlay">
        @if (userAccInfo.show) {
        <div class="user-info-container">
            @if (userAccInfo.currentMessage == userAccInfo.messages[1]) {
            <mat-icon class="material-icons">send</mat-icon>
            }
            <span>{{userAccInfo.currentMessage}}</span>
        </div>
        }
    </div>
</div>