<div class="landing-continer">
    <div class="header">
        <app-logo-component></app-logo-component>
        <div class="create-container">
            <p>Neu bei DABubble?</p>
            <p class="button">Konto erstellen</p>
        </div>
    </div>
    <mat-card class="bg-frame-v1 user-auth-section">
        <!-- <app-user-login></app-user-login> -->
        <!-- <app-create-account></app-create-account> -->
        <!-- <app-avatar-picker></app-avatar-picker> -->
        <app-imprint></app-imprint>
        <!-- <app-privacy-policy></app-privacy-policy> -->
      </mat-card>
    <div class="footer">
        <p class="button">Impressum</p>
        <p class="button">Datenschutz</p>
    </div>
</div>