@use "./../../../styles.scss" as styles;
@use "./../../../assets/styles/fonts.scss" as fonts;

mat-card {
  border-top-left-radius: 0px !important;
  width: 290px;
  position: absolute;
}

mat-card-content {
  @include styles.dFlex(
    $d: flex,
    $fd: row,
    $jc: flex-start,
    $ai: flex-start,
    $g: 12px
  );
  flex-wrap: wrap;
}

.emoji-icons {
  cursor: pointer;
  font-size: 24px;
}

@media (max-width: 1200px) {
  .emoji-icons {
    // font-size: 20px;
  }
}
