@use "./../../../styles.scss" as styles;
@use "./../../../assets/styles/fonts.scss" as fonts;
@use "./../../../assets/styles/theme-colors.scss" as colors;

mat-card {
  border-top-left-radius: 0px !important;
  width: 290px;
  position: absolute;
}

mat-card-content {
  @include styles.dFlex(
    $d: flex,
    $fd: row,
    $jc: flex-start,
    $ai: flex-start,
    $g: 12px
  );
  flex-wrap: wrap;
}

.emoji-icons {
  cursor: pointer;
  font-size: 24px;
}
