<header>
  <div class="selection-name">
    <span>#</span>
    <p>Entwicklerteam</p>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </div>

  <div class="wrapper-member">
    <div class="member-list" (click)="openMemberDialog()" #memberListBtn>

      <div class="member-list-profiles">
        <div class="circle-outline">
          <img class="member-list-img" src="img-placeholder/noah.svg" alt="" />
        </div>
        <div class="circle-outline">
          <img class="member-list-img" src="img-placeholder/sofia.svg" alt="" />
        </div>
        <div class="circle-outline">
          <img class="member-list-img" src="img-placeholder/frederik.svg" alt="" />
        </div>
      </div>
      <p class="member-list-number">3</p>
    </div>

    <button #addPeopleBtn (click)="openAddPeopleDialog()">
      <mat-icon class="add-user-icon">person_add_alt</mat-icon>
    </button>
  </div>


</header>