@use "@angular/material";
@use "./assets/styles/fonts.scss";
@use "./assets/styles/colors.scss" as c;

* {
  margin: 0;
}

html,
body {
  font-size: 16px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: Nunito;
  overflow: hidden;
}

section,
.width-100 {
  width: 100%;
  box-sizing: border-box;
}

.bg-frame-v1 {
  background-color: white;
  border-radius: 30px;
}

.flex-g {
  flex-grow: 1;
}

.row-rev {
  flex-direction: row-reverse;
}

@mixin margin($ml: 0, $mr: 0, $mt: 0, $mb: 0) {
  margin-left: $ml;
  margin-right: $mr;
  margin-top: $mt;
  margin-bottom: $mb;
}

@mixin padding($pl: 0, $pr: 0, $pt: 0, $pb: 0) {
  padding-left: $pl;
  padding-right: $pr;
  padding-top: $pt;
  padding-bottom: $pb;
}

@mixin dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 0px) {
  display: $d;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

.member-dialog {
  .mat-mdc-dialog-container {
    border-top-right-radius: 0 !important;
  }
}

.dialog-backdrop {
  background: rgba(0, 0, 0, 0.5);
}

h1 {
  color: c.$contrast-color;
  margin-bottom: 24px;
  font-size: 2.125rem;
  white-space: nowrap;
  text-align: center
}

.a-link {
  color: c.$secondary-color;
  text-decoration: none;
}

.user-auth-section {
  margin-top: auto;
}

.rounded-container {
  @include dFlex($d: flex, $fd: row, $jc: unset, $ai: center);
  height: 50px;
  width: 100%;
  background-color: c.$general-bg-color;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0);
  margin-bottom: 35px;
  transition: ease-in-out 0.07s;
}

.auth-input-container {
  @extend .rounded-container;
  position: relative;

  &:hover {
    border: 1px solid c.$inactive-dark;
  }

  mat-icon {
    padding: 0 25px;
    color: c.$inactive-dark;
  }

  &:focus-within {
    border: 1px solid c.$secondary-color;

    mat-icon {
      color: black;
    }
  }

  input {
    width: 80%;
    border: none;
    background-color: c.$general-bg-color;
    font-family: Nunito;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 5px;

    &:focus {
      outline: none;

      &::placeholder {
        opacity: 0;
      }
    }
  }
}

.login-description {
  font-size: 1rem;
  text-align: center;
  padding-bottom: 30px;
  // width: 400px;
}

.login-container {
  height: calc(100% - 60px);
  width: calc(100vw - 100px);
  max-width: 400px;
  padding: 30px 40px;
  @include dFlex($d: flex, $fd: column, $jc: unset, $ai: center);
}

.error-message {
  position: absolute;
  bottom: -25px;
  font-size: 0.75rem;
  color: c.$error-msg;
  opacity: 0;
  animation: show 0.12s ease-in-out forwards;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.member-img {
  height: clamp(1.5rem, 4vw, 2rem);
  border: 2px solid c.$img-bg;
  border-radius: 100%;
  margin-right: -10px;
}

.login-form {
  position: relative;
  width: 100%;
  max-width: 400px;
  @include dFlex($d: flex, $fd: column, $jc: unset, $ai: center);
}

.button-base {
  height: 50px;
  border-radius: 25px;
  font-size: 1.125rem;
  padding: 0px 24px;
  font-weight: 700;
  font-family: Nunito;
  cursor: pointer;
}

.btn-full {
  background-color: c.$contrast-color;
  border: none;
  color: white;

  &:hover {
    background-color: c.$primary-color;
  }

  &:active {
    background-color: c.$contrast-color;
  }

  &:disabled {
    background-color: c.$inactive-dark;
  }
}

.btn-zero-fill {
  border: 1px solid c.$primary-color;
  background-color: unset;
  color: c.$contrast-color;

  &:hover {
    background-color: c.$secondary-color;
    color: white;
  }

  &:active {
    background-color: c.$contrast-color;
  }
}

.position-bottom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.arrow-back {
  position: absolute;
  top: 40px;
  left: 30px;
}

.close-button {
  color: c.$close-btn-text;
  width: 40px;
  height: 40px;
  display:flex;
  justify-content: center;
  align-items: center;
  background: transparent !important;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: c.$close-btn-text-hover;
    background-color: c.$close-btn-bg-hover !important;
  }
}

.close-back {
  cursor: pointer;

  &:hover {
    color: c.$secondary-color;
    background-color: c.$general-bg-color;
    border-radius: 50%;
    box-shadow: 0 0 0 5px c.$general-bg-color;
  }
}

.highlight {
  background-color: c.$general-bg-color;
  animation: fadeOut 1s linear 1.5s forwards;
}

.mat-mdc-dialog-surface {
  border-radius: 30px !important;
}

@keyframes fadeOut {
  from {
    background-color: c.$general-bg-color;
  }

  to {
    background-color: unset;
  }
}

@media(max-width: 500px) {
  h1 {
    margin-bottom: 8px;
    font-size: 2rem;
    white-space: break-spaces;
  }

  .login-container {
    padding: 30px 20px;
    width: calc(100vw - 60px);
  }

  .login-description {
    padding-bottom: 16px
  }

  .rounded-container {
    margin-bottom: 30px;
  }

  .error-message {
    top: 65px;
  }

  .margin-bottom-error {
    margin-bottom: 60px;
  }
}

@media (max-width: 350px) {
  .button-base {
    font-size: 1rem;
    padding: 8px 16px;
  }

  .auth-input-container {
    mat-icon {
      font-size: 1.25rem;
      text-align: center;
      height: auto;
      width: auto;
    }

    input {
      font-size: 0.875rem;
    }
  }
}

.btn-style {
  background-color: c.$btn-bg;
  cursor: pointer;
  border-radius: 30px;

  &:hover {
    background-color: c.$btn-bg-hover;
    color: c.$btn-text-hover;
    font-weight: 700;
  }
}

@mixin f_r_fs_c {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@mixin f_r_i_c {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
}

@mixin f_c_i_i {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
}

@mixin f_r_c_c {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items: center;
}

@mixin f_r_sb_c {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: center;
}

@mixin f_r_sb_fs {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: flex-start;
}

@mixin f_r_se_c {
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items: center;
}

@mixin f_c_fs_c {
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items: center;
}

@mixin f_c_fs_sb {
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items: space-between;
}

@mixin f_c_fs_fs {
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items: flex-start;
}

@mixin f_c_c_c {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}

@mixin f_c_c_fs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin f_c_se_c {
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-items: center;
}

@mixin f_c_sb_c {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items: center;
}

@mixin f_c_sb_sb {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items: space-between;
}