@use '@angular/material';
@use 'assets/styles/theme-colors.scss'; // location of generated file

* {
  margin: 0;
}

html {
  // Apply the dark theme by default
  @include material.theme((color: (primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    ));

  // Use high contrast dark theme colors when users prefer contrast
  @media (prefers-contrast: more) {
    @include theme-colors.high-contrast-overrides(dark);
  }
}

body {
  font-size: 16px;
}

@mixin margin ($ml: 0, $mr: 0, $mt: 0, $mb: 0) {
  margin-left: $ml;
  margin-right: $mr;
  margin-top: $mt;
  margin-bottom: $mb;
}

@mixin padding ($pl: 0, $pr: 0, $pt: 0, $pb: 0) {
  margin-left: $pl;
  margin-right: $pr;
  margin-top: $pt;
  margin-bottom: $pb;
}

@mixin dFlex ($d: flex, $fd: row, $jc: center, $ai: center, $g: 0px) {
  display: $d;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}