/////////// default settings /////////// 
$general-bg-color: #ECEEFE;
$primary-color: #797ef3;
$secondary-color: #535af1;
$contrast-color: #444DF2;
$online: #22c55e;
$offline: #9ca3af;
$inactive-dark: #686868;
$border-color: #adb0d9;
$error-msg:#dc3545;

/////////// landing page  /////////// 
$bg-avatar-selection-preview: $primary-color;
$bg-avatar-picker: transparent;
$bg-avatar-picker-hover: $general-bg-color;
$bg-avatar-picker-active: $secondary-color;
$bg-checkbox-form-border: $primary-color;
$bg-checkbox-form-bg-hover: $general-bg-color;
$bg-checkbox-form-bg-outside-hover: $general-bg-color;
$bg-checkbox-form-border-hover: $contrast-color;
$bg-checkbox-form-bg-outline-hover: $contrast-color;
$bg-checkbox-form-contain: $primary-color;
$bg-checkbox-form-contain-hover: $contrast-color;
$conditions-text: $primary-color;
$conditions-text-bg-hover: $general-bg-color;
$conditions-text-hover: $contrast-color;
$landing-page-btn-text: $primary-color;
$landing-page-btn-border-hover: $border-color;
$landing-page-btn-text-hover: $contrast-color;
$landing-page-bg: $general-bg-color;

/////////// header  /////////// 
$header-text-hover: $primary-color;
$profile-status-circle-outline: white;
$profile-status-circle: $online;

/////////// searchbar  /////////// 
$searchbar-bg: white;
$searchbar-text: rgba(104, 104, 104);
$searchbar-bg-menu: white;
$searchbar-bg-scrollbar: #f1f1f191;
$searchbar-bg-scrollbar-thumb: #cccccc;
$searchbar-bg-scrollbar-thumb-hover: #b3b3b3;
$searchbar-result-bg: #eceefe;
$searchbar-result-user: rgba(104, 104, 104);
$searchbar-result-status-on: $online;
$searchbar-result-status-off: $offline;

/////////// profile settings overlay /////////// 
$bg-overlay: white;
$overlay-bg-btn-hover: $general-bg-color;

/////////// chat header /////////// 
$add-member-bg-search-result: white;
$add-member-bg-search-result-border: $border-color;
$add-member-bg-search-result-user: $general-bg-color;
$add-member-search-result-text: black;
$add-member-search-result-status: $online;

/////////// channel info overlay /////////// 
$channel-info-bg: white;


/////////// chat windows /////////// 
$hover-user-name: $secondary-color;
$user-msg-comments-number: $secondary-color;
$user-msg-bg-hover: $general-bg-color;
$user-msg-light-text: #393939;
$user-own-msg-text: white;
$user-own-msg-text-bg: $primary-color;
$user-own-msg-text-bg-hover: $primary-color;
$user-others-msg-text-bg: white;
$user-others-msg-text-bg-hover: $general-bg-color;
$user-msg-used-emoji-box-bg: $general-bg-color;
$user-msg-used-emoji-box-border: $primary-color;
$user-msg-used-emoji-box-border-hover: $secondary-color;
$user-msg-used-emoji-box-amount: $secondary-color;
$emoji-overview-bg: $contrast-color;
$emoji-overview-text: white;

/////////// edit msg /////////// 
$edit-msg-cancel-btn-border: $primary-color;
$edit-msg-cancel-btn-bg: white;
$edit-msg-cancel-btn-text: $primary-color;

$edit-msg-save-btn-border: $primary-color;
$edit-msg-save-btn-bg: $primary-color;
$edit-msg-save-btn-text: white;

/////////// preview text /////////// 
$preview-text: $inactive-dark;
$preview-user-link: $secondary-color;
$preview-channel-name: #1a1a1a;

/////////// add-members overlay /////////// 
$overlay-bg: white;
$overlay-close-icon-hover: $secondary-color;
$overlay-channel-name: $secondary-color;
$overlay-input-border: $border-color;
$overlay-input-placeholder: $offline;
$overlay-selected-user-bg: $general-bg-color;
$overlay-selected-user-name: #374151;
$overlay-selected-user-close-icon: #666;
$overlay-selected-user-close-icon-hover: $secondary-color;

/////////// member image circles  /////////// 
$img-bg: white;

/////////// other elements  /////////// 
$toggle-sidebar-shadow: rgba(89, 89, 89, 0.3); // toggle btn sidebar 
$toggle-sidebar-text: $primary-color;
$arrow-back-hover: $secondary-color;
$divider-line: $offline;
$close-btn-text: black;
$close-btn-text-hover:$contrast-color;
$close-btn-bg-hover:$general-bg-color;

/////////// buttons  /////////// 
$btn-bg: white;
$btn-bg-hover: $general-bg-color;
$btn-text-hover: $primary-color;

/////////// extern legal pages /////////// 