/////////// default settings /////////// 
$general-bg-color:#ECEEFE;

/////////// chat windows /////////// 
$divider-line:#adb0d9;
$hover-user-name:#535af1;
$user-msg-comments-number:#535af1;
$user-msg-bg-hover:#eceefe;
$user-msg-light-text:#393939;
$user-own-msg-text:white;
$user-own-msg-text-bg:#797ef3;
$user-own-msg-text-bg-hover:#797ef3;
$user-others-msg-text-bg:white;
$user-others-msg-text-bg-hover:#eceefe;
$user-msg-used-emoji-box-bg: #eceefe;
$user-msg-used-emoji-box-border:#535af1;
$user-msg-used-emoji-box-amount:#535af1;

/////////// edit msg /////////// 
$edit-msg-cancel-btn-border:#797ef3;
$edit-msg-cancel-btn-bg:white;
$edit-msg-cancel-btn-text: #797ef3;

$edit-msg-save-btn-border: #797ef3;
$edit-msg-save-btn-bg: #797ef3;
$edit-msg-save-btn-text: white;


/////////// preview text /////////// 
$preview-text:#686868;
$preview-user-link:#535af1;
$preview-channel-name:#1a1a1a;

/////////// add-members overlay /////////// 
$overlay-bg:white;
$overlay-close-icon-hover:#535af1;
$overlay-channel-name: #535af1;
$overlay-input-border: #adb0d9;
$overlay-input-placeholder: #999;
$overlay-selected-user-bg: #eceefe;
$overlay-selected-user-name: #374151;
$overlay-selected-user-close-icon: #666;
$overlay-selected-user-close-icon-hover: #535af1;

/////////// other elements  /////////// 
$toggle-sidebar-shadow: rgba(89, 89, 89, 0.3); // toggle btn sidebar 
$toggle-sidebar-text:#797ef3;;