@use "./../../../styles.scss" as styles;

.profile-modal {
  background: white;
  border-radius: 30px;
  width: 340px;
  padding: 24px;
  position: fixed;
  top: 100px;
  right: 13px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
  }

  .close-icon {
    cursor: pointer;

    &:hover {
      color: #535af1;
      background-color: #eceefe;
      border-radius: 50%;
      box-shadow: 0 0 0 5px #eceefe;
    }
  }
}

.profile-content {
  @include styles.dFlex(
    $d: flex,
    $fd: column,
    $jc: center,
    $ai: flex-start,
    $g: 40px
  );
}

.avatar-container {
  @include styles.dFlex(
    $d: flex,
    $fd: unset,
    $jc: center,
    $ai: center,
    $g: 8px
  );
  width: 100%;
  overflow: hidden;

  .profile-avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 100%;
  }
}

.info-container {
  @include styles.dFlex(
    $d: flex,
    $fd: column,
    $jc: center,
    $ai: flex-start,
    $g: 40px
  );
  width: 100%;
}

.user-info {
  width: 100%;

  .name-container {
    @include styles.dFlex(
      $d: flex,
      $fd: row,
      $jc: space-between,
      $ai: center,
      $g: 10px
    );
    margin: 0 0 8px 0;

    h3 {
      font-size: 1.75rem;
      font-weight: 700;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .edit-text {
      font-size: 1.125rem;
      color: #535af1;
      cursor: pointer;
      transition: all 0.05s ease-in-out;
      padding-right: 2px;
      display: block;

      &:hover {
        font-weight: 700;
        padding-right: 0px;
      }

      @media (max-width: 1024px) {
        display: none;
      }
    }

    .edit-icon {
      display: none;
      cursor: pointer;
      color: #535af1;

      &:hover {
        color: #444df2;
      }

      @media (max-width: 1024px) {
        display: block;
      }
    }
  }

  .status {
    display: flex;
    align-items: center;
    gap: 8px;

    .status-dot {
      width: 12px;
      height: 12px;
      border-radius: 100%;
      background-color: #92c83e;
    }

    span {
      color: #6b7280;
      font-size: 1rem;
      color: #92c83e;
    }
  }
}

.contact-info {
  @include styles.dFlex(
    $d: flex,
    $fd: column,
    $jc: center,
    $ai: flex-start,
    $g: 18px
  );
  width: 100%;
  padding-bottom: 5px;

  .info-row {
    @include styles.dFlex(
      $d: flex,
      $fd: unset,
      $jc: flex-start,
      $ai: center,
      $g: 12px
    );
    font-size: 1.25rem;

    .info-icon {
      color: #000000;
    }
  }
}

.email {
  color: #1381ff;
  text-decoration: none;
  font-size: 1rem;
  margin-left: 37px;
  cursor: pointer;
}

.mail-header {
  font-size: 1.25rem;
  font-weight: 700;
}

.form-container {
  @include styles.dFlex(
    $d: flex,
    $fd: column,
    $jc: center,
    $ai: flex-start,
    $g: 40px
  );
  width: 100%;
}

.full-name-container {
  @include styles.dFlex(
    $d: flex,
    $fd: column,
    $jc: center,
    $ai: flex-start,
    $g: 12px
  );
  width: 100%;
}

.input-info {
  @include styles.dFlex(
    $d: flex,
    $fd: row,
    $jc: center,
    $ai: flex-start,
    $g: 18px
  );

  p {
    font-size: 1.125rem;
    font-weight: 700;
  }
}

.input-container {
  width: 100%;
  position: relative;

  input {
    width: 100%;
    height: 52px;
    border: 1px solid #adb0d9;
    border-radius: 30px;
    font-size: 1.125rem;
    padding: 0 32px 0 32px;
    box-sizing: border-box;

    &:hover {
      border-color: #797ef3;
    }

    &::placeholder {
      color: #999;
    }

    &:focus {
      outline: none;
      border-color: #444df2;
      color: #000000;
    }
  }
}

.button-container {
  @include styles.dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 32px);
  width: 100%;
}

@media (max-width: 425px) {
  .profile-modal {
    width: 300px;
  }
  .user-info .name-container h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  .profile-modal {
    width: 240px;
  }
  .button-container {
    gap: 16px;
  }
}
